/* PAGE PENDU */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    width: 600px;
    height: 60vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("images/pexels-cottonbro-studio-3826435.jpg");
    background-color: #131416;
    background-size: cover;
    font-family: "Nanum Pen Script", cursive;
}

header,
main {
    text-align: center;
    font-weight: bold;
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer img {
    margin-left: 10px;
    width: 130px;
    height: 70px;
}

main {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

h1 {
    font-size: 70px;
}

.nouvellePartie {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    font-family: "Nanum Pen Script", cursive;
    font-size: 30px;
    border-radius: 10px;
}

.jeu {
    display: flex;
    margin-top: 50px;
}

/* min height a enlever */
.colonneGauche,
.colonneDroite {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* COLONNE GAUCHE */
.colonneGauche {
    font-size: 40px;
}

.coups {
    margin-bottom: 30px;
}

.score {
    display: inline;
}

/* COLONNE DROITE */
tr {
    display: flex;
    flex-wrap: wrap;
}

td {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 50px;
    font-size: 40px;
}

td:hover {
    background-color: white;
    color: black;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    font-size: 40px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 20px;
    margin: 20px 20px;
    width: 200px;
    height: 45px;
}

form button {
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}

.tirets {
    margin: 20px;
    font-size: 50px;
}

/* MEDIA QUERIES */
@media all and (max-width: 1140px) {
    h1 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .jeu {
        margin-top: 0;
    }

    img {
        width: 40vh;
    }

    .colonneGauche img {
        max-width: 400px;
    }

    .nouvellePartie {
        padding: 5px;
        margin-bottom: 5px;
    }

    button {
        font-family: "Nanum Pen Script", cursive;
        font-size: 25px;
        border-radius: 10px;
    }

    .coups {
        margin-bottom: 10px;
    }

    td {
        width: 40px;
    }

    footer {
        flex-direction: column;
        font-size: 15px;
    }

    .tirets {
        font-size: 30px;
    }
}

@media all and (max-width: 740px) {
    img {
        width: 250px;
    }
}

@media all and (max-width: 510px) {
    body {
        margin: 0 auto;
    }

    h1 {
        font-size: 30px;
    }

    button,
    form button {
        font-size: 20px;
    }

    .jeu {
        flex-direction: column-reverse;
    }

    .colonneGauche,
    .colonneDroite {
        width: 100%;
    }

    img {
        width: 250px;
        height: 200px;
        margin-bottom: 20px;
    }

    td {
        font-size: 20px;
    }

    .tirets {
        font-size: 35px;
        margin: 0 0 10px 0;
    }

    .motAEnvoyer {
        font-size: 20px;
    }

    #mot {
        font-size: 30px;
    }

    .coups {
        font-size: 30px;
    }

    footer {
        margin-top: 10px;
        font-size: 12px;
    }

    footer img {
        margin-top: 5px;
        width: 100px;
        height: 20px;
    }
}